@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #2a0a4a, #6cc7c0 65%);
  color: white;
  overflow-x: hidden;

}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.15;
  pointer-events: none;
}


.glow {
  box-shadow: 0 0 120px rgba(168, 85, 247, 0.35);
}

.glow-hover {
  transition: 0.3s ease;
}

.glow-hover:hover {
  box-shadow: 0 0 140px rgba(59, 130, 246, 0.45);
  transform: translateY(-6px);
}