@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #2a0a4a, #000000 65%);
  color: white;
  overflow-x: hidden;

}


body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.15;
  pointer-events: none;
}


.glow {
  box-shadow: 0 0 120px rgba(255, 255, 255, 0.35);
}

.glow-hover {
  transition: 0.5s ease;
}

.glow-hover:hover {
  box-shadow: 0 0 140px rgba(255, 255, 255, 0.35);
  transform: translateY(-6px);
}